<div class="example-button-row">
  <button mat-flat-button class="side-btn" >
  <!-- [routerLink]="['./emplloy']" 
  routerLinkActive="active"
   -->
  Emplloy Form
</button>
</div>

<div class="emp-form-div">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSave()" *ngIf="!isLoading">
    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="name" placeholder="name">
      <mat-error *ngIf="form.get('name')">Please enter a name.</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="department" placeholder="department">
      <mat-error *ngIf="form.get('department')">Please enter a department name.</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="email" formControlName="email" placeholder="email">
      <mat-error *ngIf="form.get('email')">Please enter email.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Employee Image</button>
      <input type="file"  #filePicker accept="image/*" (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image')">
      <img [src]="imagePreview" [alt]="form.value.name">
    </div>
    <button mat-raised-button class="side-btn" type="submit">Submit</button>
  </form>
</div>