<div class="emp-form-div">
    <form class="example-form">
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Full Name of Emplloy</mat-label>
            <input matInput>
          </mat-form-field></td>
        </tr>
        <tr>
            <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Department</mat-label>
                <input matInput>
              </mat-form-field></td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
          <td>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker >
          </td>
        </tr>
        <tr>
          <td>
            <div class="image-preview" >
              <img [src]="imagePreview" [alt]="form">
            </div>
          </td>
        </tr>
        <tr>
          <button mat-raised-button class="side-btn" (click)="onSave()">Submit</button>&nbsp;
          <button mat-raised-button class="side-btn" (click)="onReset()">Cancel</button>
          
        </tr>

    </table> 
    </form>
</div>
  