.example-form {
   padding-right: 15%; 
   padding-left: 20%;
   padding-top: 10%;
   padding-bottom: 10%;   
  }
  
  .example-full-width {
    width: 100%;
    text-align: center;
  }
  
  td {
    padding-right: 8px;
  }

  .emp-form-div{
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);

  }

  .image-preview {
    height: 5rem;
    margin: 1rem 0;
  }
  
  .image-preview img {
    height: 100%;
  }