<div class="guid">
<h2>Click On "Authantication By Google" Key and You are redirect on Google Login Page</h2><br>
<h3>If You have Account on Google then enter you 'Email or Mobile Number' and Password</h3><br>
<h3>If You have not Google Account then click 'Create Account' Key And create google account</h3>
<br>
<br>
</div>
<div class="container">
    <button class="btn btn-block btn-primary" (click)="loginWithGoogle()">
        <img src="assets/images/google.svg" alt="google">
        <span>Authantication By Google</span>
    </button>
</div>
