<p>
  <mat-toolbar color="primary">
   
    <span>Madical Form</span>
    <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>account_circle</mat-icon>
      </button>
   
  </mat-toolbar>
</p>

<div>
  <button mat-raised-button routerLink="/" routerLinkActivet="activet">Add-Patient</button>
  <button mat-raised-button routerLink="/details" routerLinkActivet="activet">Patient-Details</button>
</div>
<hr>
<router-outlet></router-outlet>