<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Rohit Bhargava</mat-card-title>
      <mat-card-subtitle>Front-end Devloper</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="scanner_user.jpg" alt="User Image" />
    <mat-card-content>
      <mat-label>Name :</mat-label>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      <mat-label>Rohit Bhargava</mat-label><br />
      <mat-label>Education :</mat-label>&nbsp;
      <mat-label>Master Of Sciense</mat-label>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">LIKE</button>
      <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
