.example-card {
    max-width: 350px;
    padding: 24px;

  }
  
  .example-header-image {
    background-image: url('D:/My-Work/angular-material/src/assets/images/scanner_user.jpg');
    background-size: cover;
  }
  